doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  body.p-8.bg-home-bg
    div.text-center.max-w-2xl.p-5.mx-auto.mt-2.bg-white.border-4.border-solid.border-red-500.rounded-sm
      img(src="/images/pubcord-logo.png").max-w-lg
      h2.mt-7.text-2xl.font-bold Strike Database Web App
      div.mt-7.flex-auto.flex.space-x-3.items-center.justify-center
        if isAuthenticated
          a(href="/strikes").py-3.mt-0.mx-auto.mb-2p5.w-1of2.flex.items-center.justify-center.rounded-md.bg-gradient-to-r.from-cyan-400.to-sky-500.text-white.font-semibold Open Database
          a(href="/logout").py-3.mt-0.mx-auto.mb-2p5.w-1of2.flex.items-center.justify-center.rounded-md.bg-gradient-to-r.from-red-400.to-pink-500.text-white.font-semibold Logout
        else
          a(href="/login").py-3.mt-0.mx-auto.mb-2p5.w-1of2.flex.items-center.justify-center.rounded-md.bg-gradient-to-r.from-green-300.to-green-500.text-white.font-semibold Login
