doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")

  body
    div.flex-auto.flex.p-5.flex-wrap
      div.w-10out12.flex-shrink
        img(src="/images/pubcord-logo.png").max-w-sm
      div.w-2out12.mt-7.flex-shrink.p-5
        if isAuthenticated
          a(href="/").px-5.py-3.mt-0.mx-auto.mb-2p5.min-w-min.w-full.flex.items-center.justify-center.rounded-md.bg-gradient-to-r.from-cyan-400.to-sky-500.text-white.font-semibold.text-base Home
          a(href="/logout").px-5.py-3.mt-0.mx-auto.mb-2p5.min-w-min.w-full.flex.items-center.justify-center.rounded-md.bg-gradient-to-r.from-red-400.to-pink-500.text-white.font-semibold.text-base Logout
        else
          a(href="/login").NavButton Login
    div
      h2.font-bold.text-lg Strike Database
    block content
