extends layout

block content
  #wrapper
    #strikeList
      table
        thead
          th Time
          th Server ID
          th User Name
          th User ID
          th Moderator
          th Message Link
          th Reason 
        tbody
    ul.pagination
    while n < page_count+1
      li
        a(href="?limit=50&page="+n)=n++
  script(src='/javascripts/global.js')