body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
  padding-left:10px;
  position:relative;
}

#strikeList {
  margin:0 0 30px 0;
}
  #strikeList table {
  	width:100%;
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
  }
    #userList table th {
      background:#EEE;
      font-weight:600;
      padding:10px 20px;
      text-align:center;
    }
    #strikeList table tbody {
      padding:0; margin:0;
      border-collapse:collapse;
      border-spacing:0px;
    }
      #strikeList table td {
        background:#FFF;
        padding:5px 10px;
        text-align:center;
      }

fieldset {
  border:0;
  padding:0; margin:0;
}

ul.nav {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0;
	overflow: hidden;
}

li.nav {
	float: left;
}

#right {
	float: right;
	padding-left: 30px;
}

#righttitle {
	float: right;
	padding: 15px 0px;
}

.NavButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;
    width: 150px;

    background: #e50050;

    border-radius: 20px;

    font-size: 16px;
    font-weight: bold;
    color: white;

    text-transform: capitalize;

    border-bottom: var(--ui-shadow-border);
    box-shadow: var(--ui-shadow);
}

.splashbanner {
	text-align: center;
	width: 480px;
	padding: 20px;
	margin: 10% auto;
	background: white;
	border: #e50050 solid 3px;
	border-radius: 5px;
}

#home {
	background: url(/images/bg.jpg);
	background-size: cover;

}

ul.pagination {
  list-style-type: none;
}

li.page-link{
  float: left;
}

a.page-link{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  
  height: 15px;
  width: 15px;

  background: #e50050;

  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}
